html {
  background-image: url("https://diamond-heberg.fr/game/fond.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
}
